@using CarModsHeaven.Web.Models.Home

@model AboutViewModel

@{
    ViewBag.Title = "About - Car Mods Heaven";
}

<h2>Statistics</h2>
<div class="row jumbotron">
    <ul>
        <li>Projects created onsite: @Model.ProjectsCount</li>
        <li>Registered users onsite: @Model.UsersCount</li>
    </ul>
    </div>