@{
    ViewBag.Title = "Car Mods Heaven";
}

<div class="jumbotron">
    <h1>Welcome Car Lovers</h1>
    <p class="lead">This is where you can share, explore and discuss on all kind of car related stuff.</p>
</div>

<div class="row jumbotron">
    <h2>You can find:</h2>
    <div class="col-md-4">
        <h3>Individual Projects</h3>
        <ul>
            <li>Create your own projects</li>
            <li>Explore, comment and share other projects</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Repair videos</h3>
        <ul>
            <li>View DIY videos</li>
            <li>Post own or other's repair videos</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Car tuning discussions</h3>
        <ul>
            <li>Ask all kind of car related questions</li>
            <li>Help others</li>
            <li>Discuss car tuning, news etc...</li>
        </ul>
    </div>
</div>