@using CarModsHeaven.Web.Models.About
@model AboutViewModel
@{
    ViewBag.Title = "About - Car Mods Heaven";
}
<div class="row">
    <div class="jumbotron">
        <h3>Statistics</h3>
        <ul>
            <li>Projects created onsite: @Model.ProjectsCount</li>
            <li>Registered users onsite: @Model.UsersCount</li>
        </ul>
    </div>
</div>