@{
    ViewBag.Title = "Discussions - Car Mods Heaven";
}
<h2>Car Related Discussions</h2>

<div class="row jumbotron">
    <input type="text" id="msgInput" />
    <button id="sendBtn">Send</button>

    <div id="messages"></div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    @Scripts.Render("/signalr/hubs")
    <script>
        $(function () {
            var discussions = $.connection.discussionsHub;

            discussions.client.getMessage = (msg) => {
                $('#messages').append(msg + '<br />')
            }

            $.connection.hub.start().done(function () {

                $('#sendBtn').click(() => {
                    discussions.server.sendMessage($('#msgInput').val())
                })
            });
        })
    </script>
}