@using CarModsHeaven.Web.Models.UsersList
@model ICollection<UserViewModel>
@{
    ViewBag.Title = "Users - Car Mods Heaven";
}
<div class="jumbotron">
    <h1>All Users</h1>
    <p class="lead">Here you can browse, comment and share other people's projects.</p>
</div>
<div class="row">
    @foreach (var user in Model)
    {
        <div class="col-md-4">
            <h3>@user.UserName</h3>
            <h3>@user.Email</h3>
        </div>
    }
</div>