@using CarModsHeaven.Web.Models.UsersList
@model ICollection<UserViewModel>
@{
    ViewBag.Title = "Users - Car Mods Heaven";
}

<div class="row jumbotron">
    <h2>All Users</h2>
    @foreach (var user in Model)
    {
        <div class="col-md-4">
            <h3>@Html.ActionLink(@user.UserName, "Details", new { userName = user.UserName })</h3>
            <h3>Added projects: @user.Projects.Count</h3>
        </div>
    }
</div>